<ul>
  <li>
    <%= @country.country_name %>, <%= @country.language_spoken %>
  </li>
</ul>

<%= link_to 'Edit country', edit_country_path(@country) %>
<%= link_to 'Delete country', country_path(@country), method: :delete %>